NODE_ENV=development
SERVICE_NAME=external-integration
HTTP_PORT=3002

SECURE_SIGNATURE_SECRETS='{"core":"secret123","external-integration":"secret789"}'

# PostgreSQL
DB_HOST=localhost
DB_PORT=15432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=eventsourcing
DB_SCHEMA=external_integration
DB_SSL=false
DB_LOGGING=false

# NATS
NATS_URL=nats://localhost:14222
NATS_CLIENT_NAME=external-integration-service

# Kafka / Redpanda
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=integration-service

# Delays
BANK_PROCESSING_DELAY_MS=2000
CEX_PROCESSING_DELAY_MS=5000
DEX_PROCESSING_DELAY_MS=10000

LOG_LEVEL=debug

# gRPC Clients
CORE_GRPC_URL=localhost:50052
CORE_GRPC_TIMEOUT=5000
CORE_GRPC_RETRIES=3
CORE_GRPC_USE_SSL=false
